body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('fondo.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('ico.png'), auto;
    flex-direction: column;
    user-select: none;
    font-family: 'MinecraftFont', sans-serif;
}

/* Estilos para el loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.carga {
    width: 80px;
    height: 80px;
    color: #00AB00;
    position: relative;
    background: radial-gradient(10px, currentColor 94%, #0000);
}

.carga:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background:
        radial-gradient(9px at bottom right, #0000 94%, currentColor) top left,
        radial-gradient(9px at bottom left, #0000 94%, currentColor) top right,
        radial-gradient(9px at top right, #0000 94%, currentColor) bottom left,
        radial-gradient(9px at top left, #0000 94%, currentColor) bottom right;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    animation: sp8 3s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes sp8 {
    33% { inset: -20px; transform: rotate(0deg) }
    66% { inset: -20px; transform: rotate(90deg) }
    100% { inset: 0; transform: rotate(90deg) }
}

#search-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100; /* Para que esté por encima de otros elementos */
}

#search-input {
    padding: 10px;
    width: 300px; /* Ancho fijo para el input */
    border: 1px solid #ccc;
    border-radius: 5px;
}

#profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px; /* Espacio para el buscador */
}

.profile {
    width: 200px;
    margin: 15px;
    cursor: pointer;
    text-align: center;
}

.profile-content {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s;
    backdrop-filter: blur(10px);
    border: 10px;
}

.profile-content:hover {
    transform: scale(1.05);
}

.profile-pic {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}

.profile-pic-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.profile-name {
    color: white;
    font-size: clamp(15px, 2vw, 24px);
    margin: 0;
    text-align: center;
    width: 100%;
}

/* Estilos para el modal */
.modal {
    display: none; /* Ocultar modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    margin: 15% auto; /* Margen superior e inferior */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para las mini etiquetas */
#modal-tags {
    margin: 10px 0;
}

.tag {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
}

/* Estilos para los botones */
button {
    background-color: #28a745; /* Color de fondo verde */
    color: white; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    margin: 5px; /* Margen entre botones */
    font-size: 1em; /* Tamaño de fuente */
}

button:hover {
    background-color: #218838; /* Color más oscuro al pasar el ratón */
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
    scrollbar-width: thin;
    scrollbar-color: #397524 #000000;
} */

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
    background-color: #000000;
}

*::-webkit-scrollbar-track:active {
    background-color: #000000;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #397524;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
}
